@{
    ViewData["Title"] = "Home Page";
}

@model List<Usuario>

<h2>Listado de Usuarios</h2>

<table class="table table-success table-striped">
    <thead>
        <tr>
            <th hidden>ID</th>
            <th>Nombre</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td hidden>@user.Id</td>
                <td>@user.Nombre</td>
                <td>
                    <a asp-controller="User" asp-action="UpdateUser" asp-route-Id="@user.Id" class="btn btn-info">Editar</a>
                    <a asp-controller="User" asp-action="DeleteUser" asp-route-Id="@user.Id"
                        onclick="return confirm('¿Estás seguro que quieres eliminar el usuario?')"
                        class="btn btn-outline-danger">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>